.home {
    padding: 20px;
  }
  
  .home-header {
    text-align: center;
    margin-bottom: 20px;
  }
.home-main{
  width: 100%;
}
.poster{
  height: 400px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
}
.hot{
  margin-top: 30px;
}
.hot-list{
  display: flex;
  border: 1px solid #ddd ;
  border-radius: 10px;
  height: 280px;
}
.hot-item{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: aliceblue;
}

.hot-img{
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  
}

.h3{
  color: red;
  text-align: left;
}

.check{
  margin-top: 30px;
}
.check-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}
.check-select{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
